<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="results" href="/results">
      <ion-icon aria-hidden="true" name="football-outline"></ion-icon>
      <ion-label>Resultats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="classification" href="/classification">
      <ion-icon aria-hidden="true" name="trophy-outline"></ion-icon>
      <ion-label>Classificació</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar" href="/calendar">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Calendari</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" href="/stats">
      <ion-icon aria-hidden="true" name="stats-chart-outline"></ion-icon>
      <ion-label>Estadístiques</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
