<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calendari
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendari</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="selects-container">
      <ion-select [(ngModel)]="jornada" (ionChange)="onChangeJornada()" *ngIf="teamName == '' ">
        <ion-select-option value="totes">Totes les jornades</ion-select-option>
        <ion-select-option *ngFor="let calendarDate of calendar; let i = index" [value]="i">Jornada {{i + 1}} - {{calendarDate.day}}</ion-select-option>
      </ion-select>

      <ion-select [(ngModel)]="teamName">
        <ion-select-option value="">Sense filtre d'equip</ion-select-option>
        <ion-select-option *ngFor="let team of teams" [value]="team">{{team}}</ion-select-option>
      </ion-select>
    </div>

    <ion-grid lines="inline" class="table" *ngFor="let calendarDate of filteredCalendar; let i = index">
      <ion-row class="header">
        <ion-col>Jornada {{jornada == 'totes' ? i + 1 : jornada + 1}} - {{calendarDate.day}}</ion-col>
      </ion-row>

      <ion-item *ngFor="let match of calendarDate.partits" [ngClass]="{'row-gata': match.team1 === 'GATA F.S' || match.team2 === 'GATA F.S'}">
        <ion-col size="4">{{match.team1}}</ion-col>
        <ion-col size="4">{{match.team2}}</ion-col>
        <ion-col size="4">{{match.matchDate.split('&nbsp;').join(' ')}}</ion-col>
      </ion-item>
    </ion-grid>

    <div *ngIf="teamName != '' " class="avis-select">
      Per tornar al filtre per jornada, selecciona l'opció "Sense filtre d'equip" al desplegable.
    </div>
  </div>
</ion-content>
